!!!
%html
  %head
    %title= SiteConfig.title
    %link{:href => '/main.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => "text/javascript", :src => "http://jqueryjs.googlecode.com/files/jquery-1.3.js"}
    %script{:type => "text/javascript", :src => "jqueryui-custom-core-tabs.js"}
    %script{:type => "text/javascript", :src => "jquery.validate.js"}
    %script{:type => "text/javascript", :src => "additional-methods.js"}
    %script{:type => "text/javascript", :src => "init.js"}
    
  %body
    #container
      #header
        #logo
          %a{:href => '/'}
            %img{:src => 'md_logo_transparent.png'}
        - if @username
          #messagebox.widget
            %ul.tabnav
              %li
                %a{:href => "#text"}
                  text
              %li
                %a{:href => "#image"}
                  image
            #text.tabdiv
              #messageform
                %form{:method => "post", :action => "/textpost", :id => "send-comment"}
                  %textarea{:type => "textarea", :name => "textarea"}
                    type here
                  = partial :styled_button, :locals => {:text => "Submit"}

            #image.tabdiv
              #imageform
                %form{:action => "/imagepost", :method => "post", :enctype => "multipart/form-data"}
                  choose an image: 
                  %input{:type => "file", :name => "file"}
                  %br
                  %textarea{:type => "textarea", :name => "caption"}
                    type caption here
                  %br
                  = partial :styled_button, :locals => {:text => "Submit"}
      - if @username
        #postToggle
          %img{:id => "toggleimage", :src => "expand.png"}
          %span{:id => "toggletext"}
      #content= yield
      #footer
        %p#legal
          = "&copy; #{Time.now.strftime('%Y')}"
          %a{:href => "http://www.maxogden.com"}
            Max Ogden
          and
          %a{:href => "http://www.zackdenfeld.com/"}
            Zack Denfeld.
          Get the code on
          %a{:href => "http://github.com/maxogden/mild_dystopia"}
            %img.github{:src => "/github.png"}
