#sign_in
  - if @username
    %form{:method => "link", :action => "/logout"}
      = partial :styled_button, :locals => {:text => "Logout #{@username}"}
  - else
    #sign_in_button
    %form{:method => "post", :action => google_openid_action}
      = partial :google_button, :locals => {:text => "Sign in with"}
#add_post
  
#posts
  - @posts.each do |post|
    .post
      .author
        %img{:src => gravatar_url(post["email"]), :class => "gravatar"}
        %p.username= post["author"]
      .content
        - if post["image"]
          %a{:href => post["image"]}
            %img{:src => post["image"]}
        %p= post["post"]
